<blockquote id="{{response.id}}" xmlns="http://www.w3.org/1999/html">
  <div class="response-body">     {{response.body}}</div>
  <div class="updates">
    <div class="votes">
    <button class="up-vote" onclick="handleUpVote({{response.id}})">upvote</button>
    <h6 id="upvotes">0</h6>
    <button class="down-vote" onclick="handleDownVote({{response.id}})">downvote</button>
    <h6 id="downvotes">0</h6>
    {% if user.is_authenticated %}
      <button class="reply-button" onclick="handleReplyButton({{response.id}})">reply</button>
    {% endif %}
    </div>
<div class="response-author"> ans by 
   {{response.user.username}} at{{response.created_at}}</div>
</div>
    
    
    <blockquote id="reply-form-container-{{response.id}}" class="reply-form-container">
      {% csrf_token %}
      <form class="reply" method="post" action="/reply" >
        {% csrf_token %}
        <input type="hidden" name="csrfmiddlewaretoken" value="ZyWC09C1wAM9VT1G0JxrLEDEkbaPZRled8CIKZ6dlZ3bzrlFYysm8rAvxnXIKBdw">
        <input type="hidden" name="question" value="{{question.id}}"/>
        <input type="hidden" name="parent" value="{{response.id}}"/>
<div class="inputBox">
        <input type="text" class="effect-1" name="body" placeholder="Your Reply" required="" id="id_body">
    <span class="focus-border">
        <i></i>
    </span>
</div>

          <button class="cancel" type="button" onclick="handleCancelReply({{response.id}})"  class="reply-form-cancel-button">cancel</button>

<input class="reply-form-submit-button" type="submit" value="Reply">
      </form>
    </blockquote>


  {% for children in response.get_responses %}
  {% include 'components/response.html' with response=children %}
  {% endfor %}


    </blockquote>