{% extends 'layout/page.html' %}
{% block content %}
<div class="question-title text-center">
    <h4> Home</h4>
</div>
{% for question in questions %}

<div class="card-container" ">

      <div class="box">
    <div class="box1"><!--问题卡片-->
    </div>
<!--问题标题-->
      <a class="qtext" href="{% url 'question' question.id %}">
          {{question.title}}</a>

         <hr style="margin: 10px;"><!--卡片间隔-->
        <!--问题描述-->
          <div class="body-ellipse" style="font-size: smaller; color:rgb(66, 74, 83)">{{question.body}}</div>

          <hr style="margin: 10px;"><!--卡片间隔-->

          <div style="font-size: smaller; color:lightslategrey">{{question.created_at}}</div>

    </div>
    
</div>
<hr class="card-hr">

{% endfor %} 

{% endblock %}
