<script src="https://code.jquery.com/jquery-2.1.0.min.js" ></script>
{% extends 'layout/page.html' %}

{% block content %}


<div class="page login-page">
  <h1 class="title">ZARATHUSTRA</h1>
<hr  border-color:#5FBB9C;text-align: center">

<form method="POST" action="" class="login-form">
  {% csrf_token %}


  <div class="form-item">
      <p class="formLabel">Username</p>
      <input type="username" name="username" id="username" class="form-style" autocomplete="  " required>
  <span class="error">{{form.username.errors}}</span>
</div>
<hr style="margin: 20px; border-width: 2px; border-color:white">
<div class="form-item">
  <p class="formLabel">Password</p>
  <input type="password" name="password" id="password" class="form-style" autocomplete="  " required id="id_password">
  <span class="error">{{form.password.errors}}</span>
</div>
{% if form.non_field_errors %}

<div class="non_form_errors">
  <span class="error">{{form.non_field_errors.as_ul}}</span>
</div>

{% endif %}

<p class="pull-left"><a href="{% url 'register' %}"><small>Register</small></a></p>
  <input type="submit" class="login pull-right" value="Log In" style="text-align:center;vertical-align:middel">

</form>

</div>
{% endblock %}
