{% extends 'layout/page.html' %}
{% block content %}
<div class="page question-page">
  <h1 class="question-title">{{question.title}}</h1>
<hr .card-hr>
<div class="question-body">{{question.body}}</div>
    <hr .card-hr>
<span class="question-author">asked by {{question.author}} |  {{question.created_at}}</span>
<hr .card-hr>
<div class="response-container">

    <h4 class="response-container-heading">
        Responses
    </h4>
    {% if not question.responses.all %}
    <div class="no-response-text"> No responses yet</div>
    {% else %}
      {% for response in question.get_responses %}
        {% include 'components\response.html' with response=response %}

      {% endfor %}  
    {% endif %}
</div>

{% if user.is_authenticated %}

<form action="" class="response-form" method="post">
    {% csrf_token %}

    <textarea style="font-family:Microsoft soft;font-weight: 700 " name="body" cols="53" rows="10" required="" placeholder="Write your answer here"></textarea>

        

      <input type="submit" value="Send" class="submit-button2"/>



</form>
</div>

{% endif %}

</div>
{% endblock %}

