/* 问题页 */

/* 背景 米黄底 色号 #ffffdd*/
.background{
background: rgb(255, 255, 221);
}

/* All Questions 巴黎绿 色号 #5fbb9c*/

.questions{
color: rgb(95, 187, 156);
font-family: jiangxizhuokai;
font-size: 36px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0px;
text-align: center;

display: flex;
flex-direction: row;
align-items: center;
}

/* 卡片 */
.card{
position: absolute;
width: 926px;
height: 109px;
top: 79px;
left: 113px;


background: rgba(255, 255, 255, 0.99);
border: 1px solid rgb(255, 255, 255);
box-shadow: 4px 4px 8px rgba(187, 175, 95, 0.25);;
}

/* 字体位置大小什么的根据布局自由调整叭 */
.question-title{

position: absolute;
width: 920px;
height: 29px;
top: 0;
left: 12px;


color: rgb(0, 0, 0);
font-family: Noto Sans SC;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: left;


}

/* 问题描述 字体大小位置什么的根据布局自由调整叭 */
.question-description{
position: absolute;
width: 938px;
height: 29px;
top: 34px;
left: 12px;


color: rgb(0, 0, 0);
font-family: Noto Sans SC;
font-size: 16px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}

/* 问题时间 字体大小位置什么的根据布局自由调整叭*/
.question-title{
position: absolute;
width: 174px;
height: 12px;
top: 86px;
left: 12px;


color: rgb(95, 187, 156);
font-family: Noto Sans SC;
font-size: 14px;
font-weight: 300;
line-height: 21px;
letter-spacing: 0px;
text-align: left;

}
