
* { /*全局配置*/
  box-sizing: border-box;
  font-size: 3vh;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



body {
  background-color: #eaecef;
}

.title{
  margin:0 auto;
}

.navbar{/*导航条颜色*/
  background-color: #5FBB9C;/*巴黎绿*/
}

.logo {/*左上logo*/
  font-family: "华文行楷";
  color: #Fffdd0;/*米黄*/
  font-size: 5vh;
}

.body-ellipse{
  text-overflow: ellipsis;
  margin:4px 0;
  line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;
}

.question1{
 padding-top:8px
}

.content{
  padding:7vh 2vw;
  margin-top: 8vh;
}

.nav-item a{/*右上方导航按钮样式*/
  border: 0;
  background: none;
  text-transform: uppercase;
  color: #Fffdd0;
  font-weight: bold;
  position: relative;
  outline: none;
  padding: 10px 20px;
  box-sizing: border-box;
}


.nav-item a:hover{/*取消默认下划线效果*/
   text-decoration:none;
}

/*鼠标悬停动画效果设置*/
.nav-item a:before, .nav-item a:after {
  box-sizing: inherit;
  position: absolute;
  content: '';
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.nav-item a:after {
  bottom: 0;
  right: 0;
}

.nav-item a:before {
  top: 0;
  left: 0;
}

.nav-item a:hover::before, .nav-item a:hover::after {
  width: 100%;
  height: 100%;
}

.nav-item a:hover::before {
  border-top-color: #Fffdd0;
  border-right-color: #Fffdd0;
  transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
}

.nav-item a:hover::after {
  border-bottom-color: #Fffdd0;
  border-left-color: #Fffdd0;
  transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
}

.box {
       overflow: hidden;
       position: relative;
       width: 800px;
       height: 200px;
       border: 2px solid #5FBB9C;
       background-color:#Fffdd0;
       margin: 10px auto;
       transition: all .2s;
}

.box1 {
    position: absolute;
    left: -110%;
    top: 0;
    width: 300px;
    height: 300px;
    background-image: linear-gradient(90deg, rgba(95, 187, 156, 0), rgba(95, 187, 156, .5), rgba(95, 187, 156, 0));
    transform: skew(-30deg);
 }
.box:hover .box1{
       left: 110%;
       transition: all 1s;
}
.box:hover {
    transform: translateY(-20px);
    box-shadow: 0 26px 40px -24px rgb(0 36 100 / 50%);
}

.qtext{
  color:black;
}

.qtext:hover{/*取消默认下划线效果*/
   text-decoration:none;
   color:#5FBB9C;
}

.card-hr{
  border-top:5px;
  margin:10px;
  border-color: rgb(187, 187, 187);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  font-size: 15vh;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}


.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width:5vw;
  padding: 30px;
}

.question-title {
  margin: 0 7vw;
  font-size:40px;
  color:#5FBB9C;
}
.question-body,.question-author{
  margin-left:7vw ;
}

.question-author{
  color:gray;
}

.submit-button2 {
  position: relative;

  top: 300px;
}

.inputBox {
      float: left;
      width: 27.33%;

      position: relative;
}

input[type="text"]{
    font: 15px/24px "微软雅黑", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}
:focus{
    outline: none;
}

.effect-1{
    border: 1px solid #ccc;
    padding: 7px 14px 9px;
    transition: 0.4s;
}
.effect-1 ~ .focus-border:before,
.effect-1 ~ .focus-border:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #5FBB9C;
    transition: 0.2s;
    transition-delay: 0.2s;
}
.effect-1 ~ .focus-border:after{
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    transition-delay: 0.6s;
}
.effect-1 ~ .focus-border i:before,
.effect-1 ~ .focus-border i:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #5FBB9C;
    transition: 0.2s;
}
.effect-1 ~ .focus-border i:after{
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    transition-delay: 0.4s;
}
.effect-1:focus ~ .focus-border:before,
.effect-1:focus ~ .focus-border:after{
    width: 100%;
    transition: 0.2s;
    transition-delay: 0.6s;
}
.effect-1:focus ~ .focus-border:after{
    transition-delay: 0.2s;
}
.effect-1:focus ~ .focus-border i:before,
.effect-1:focus ~ .focus-border i:after{
    height: 100%;
    transition: 0.2s;
}
.effect-1:focus ~ .focus-border i:after{
    transition-delay: 0.4s;
}

.cancel {

  position:relative;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #5FBB9C;
  border:1px solid #5FBB9C;
  border:none;
  color: #Fffdd0;
  font-weight: bold;
}
.cancel:hover{
  background-color: #Fffdd0;
  border:1px solid #5FBB9C;
  color:#5FBB9C; cursor:pointer;
}
.cancel:focus{
  outline: none;
}

.votes{
  display:grid;
  grid-template-columns:repeat(5, 25%);
  grid-template-rows: 20px;
  align-items: center;
  justify-content:space-around;
  text-align: center;
  margin-left:30px;
  margin-top: 4px;
  padding:0 5px;
  width: fit-content;
}

.up-vote{
  grid-column: 1/2;
  font-size: small;
}

#upvotes{
  font-size: 3vh;
  margin:5px 3px;
  vertical-align: middle;
  grid-column: 2/3;
  padding:0 3px 0 ;
  width:fit-content;
}


.updates{
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: space-between;
}

.down-vote{
  font-size: small;
  grid-column: 3/4;
  
  width: fit-content;
}

#downvotes{
  font-size: 3vh;
    padding:0 20px;
  margin:5px 9px;
  vertical-align: middle;
  grid-column: 4/5;
  width:fit-content;
}

.response-container,.response-form{
  margin-left:7vw ;
  width:auto;
}
.response-container-heading{
  color:rgb(134, 134, 134);
  font-weight: 600;
}
.no-response-text{
  color:black;
  padding: 30px 2px;
}
blockquote{
border-left: 2px dotted rgb(159, 178, 189);
  padding-left: 10px;
  margin-left: 15px;
}
.response-author{
  font-size: 2vh;
  color:gray;
}
.response-body{
  padding: 3px 7px 25px;
  margin-top: 7px;
  border-top:1px solid rgb(221, 208, 208);
}
.new-question-page,.question-page {
  margin:0 10vw;
  border-left:1px solid rgb(51, 154, 223);
}
.new-question-form{
  width:70vw;
}

/*提问界面设置*/
.title2{
  font-family: "Microsoft soft";
  font-family:"宋体"；
  text-align:center;
  font-size: 36px;
  color: #5FBB9C;
}


.title3{
    font-size:20px;
    text-align:center;

}

.demoInput{
    outline-style: none ;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 13px 14px;
    width: 620px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
}
.demoInput:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}


/*登录注册界面输入框格式*/
.title {
  color:#5FBB9C;
  font-family:"华文彩云";
}

div.form-item{
  position: relative;
  display: block;
  margin-bottom: 20px;
 }

 input{transition: all .2s ease;}
 input.form-style{
  color:#8a8a8a;
  display: block;
  width: 90%;
  height: 44px;
  padding: 5px 5%;
  border:1px solid #ccc;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  border-radius: 27px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  font-family:'HelveticaNeue','Arial', sans-serif;
  font-size: 105%;
  letter-spacing: .8px;
}

div#form{
	position: absolute;
	width:360px;
	height:320px;
	height:auto;
	background-color: #fff;
	margin:auto;
	border-radius: 5px;
	padding:20px;
	left:50%;
	top:50%;
	margin-left:-180px;
	margin-top:-200px;
}
div.form-item .form-style:focus{
  outline: none;
  border:1px solid #58bff6;
  color:#58bff6;
}

div.form-item p.formLabel {
  position: absolute;
  left:26px;
  top:2px;
  transition:all .4s ease;
  color:#bbb;
  }

.formTop{
  top:-22px !important;
  left:26px;
  background-color: #fff;
  padding:0 5px; font-size: 14px;
  color:#58bff6 !important;
}

.formStatus{
  color:#8a8a8a !important;
}

div.form-item .form-style:focus{
  outline: none;
  border:1px solid #5FBB9C;
  color:#5FBB9C;
}

div.form-item p.formLabel {
  position: absolute;
  left:26px;
  top:2px;
  transition:all .4s ease;
  color:#bbb;
  }

.formTop{
    top:-22px !important;
    left:26px;
    background-color: #fff;
    padding:0 5px;
    font-size: 14px;
    color:#5FBB9C !important;
}

.formStatus{
  color:#8a8a8a !important;
}








.error {
  font-size: 3vh;
  color: red;
}
.errorlist {
  margin: 0;
}
.non_form_errors {
  margin-bottom: 2vh;
}


.submit-button {
  display: block;
  width: 22vh;
  height: 6vh;
  border: none;
  border-radius: 20px;
  background-color: #fd8310;
  color: #000;
  cursor: pointer;
  font-weight: 900;
}

.reply-form-container {
  display: none;
}

.reply-form-container.enabled {
  display: block;
}

.reply-button,.up-vote,.down-vote{
  border-style: none;
  color:#2874f0;
  font-size: 3vh;
}

.post-layout{
  display: grid;
  grid-template-areas:
      "votes"
      "resply";
      height:fit-content;
  grid-template-columns: 10% 90%;
  grid-template-rows:10% 90%;
  gap: 20px;
}
.vote-buttons{
  grid-column: 1/2;
  display:grid;
}

.response-right{
  padding-right: var(--su16);
  grid-column: 2/3;
  grid-row: 1/3;
  width: auto;
  min-width: 0;
}

.register-page , .login-page{
  width: fit-content;
  border: 2px solid rgb(200, 200, 202);
  background-color: #fff;
  border-radius: 20px;

}
.register-page .title, .login-page .title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: larger;
  font-size: larger;
}

/*登录界面样式设置*/
input[type="submit"]{
  float:right;
  width: 112px;
  height: 37px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #5FBB9C;
  border:1px solid #5FBB9C;
  border:none;
  color: #Fffdd0;
  font-weight: bold;
}
input[type="submit"]:hover{
  background-color: #Fffdd0;
  border:1px solid #5FBB9C;
  color:#5FBB9C; cursor:pointer;
}
input[type="submit"]:focus{
  outline: none;
}

.pull-left{
    position: absolute;
}

.pull-left a{
  color:#5FBB9C;
}

.pull-left a:hover{/*取消默认下划线效果*/
   text-decoration:none;
}


.pull-left::after{
  float:left;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #5FBB9C;
  transition: margin-top 0.3s, opacity 0.2s;
}


.pull-left:hover::after{
  margin-top: 0;
  opacity: 1;
}
